<h1>Rep</h1>

<dl>
  <dt>Student</dt>
  <dd>
    <%= resource.enrollment.student.user.email %>
  </dd>

  <dt>Exercise</dt>
  <dd>
    <%= resource.exercise.title %>
    <p>
      <%= resource.exercise.description %>
    </p>
  </dd>

  <dt>Taken at:</dt>
  <dd>
    <%= resource.created_at.to_date.to_s(:long_ordinal) %>
    <p>
      <%= sanitize resource.exercise.description %>
    </p>
  </dd>
</dl>

<%= semantic_form_for resource, url: resource_path(resource)  do |f| %>
  <%= f.input :difficulty, as: :number %>
  <%= f.submit %>
<% end %>
