<h1 class="admin">Exercises</h1>

<table class="admin">
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </thead>

  <% resources.each do |exercise| %>
    <tr>
      <td><%= link_to resource_path(exercise) do %><%= exercise.title %><% end %></td>
      <td><%= sanitize exercise.description.truncate( 150, separator: ' ') %></td>
      <td>
        <%= link_to "Show", resource_path(exercise), class: "bttn-show" %>
        <%= link_to "Edit", edit_resource_path(exercise), class: "bttn-edit" %>
        <%=
          link_to "Delete", resource_path(exercise), class: "bttn-del",
            method: :delete,
            data: {
              confirm: "Are you sure?"
            }
        %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Exercise', new_resource_path, class: "bttn-new" %>
