<% provide(:title, 'Home - ImprovTree') %>
<% provide(:header, :none) %>

<div class="splash">
	<%= image_tag "improvtree-200.jpg" %>
  <h1 class="splash-title">Improv Tree</h1>
  <p class="splash-copy">Self-directed improv training</p>
  <p class="splash-menu">
    <% if user_signed_in? %>
      <%= link_to 'Edit profile', edit_user_registration_path %> | 
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> | 
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </p>
</div>
