<dl>
  <dt>Email Address</dt>
  <dd>
    <%= resource.email %>
  </dd>
</dl>

<h2>Add rep</h2>
<%= semantic_form_for :rep, url: admin_reps_path(next_page: request.original_url) do |f| %>
  <%= f.hidden_field :from_node_uuid, value: resource.student.id %>
  <%=
    f.input :to_node_uuid,
      label: 'Exercise',
      as: :select,
      include_blank: false,
      collection: Exercise.all.collect{|e| [e.title, e.id]}
  %>
  <%= f.submit 'Add Rep' %>
<% end %>

<table>
  <thead>
    <th>Exercise</th>
    <th>Difficulty Feedback</th>
    <th></th>
    <th></th>
  </thead>

  <% resource.student.exercises.each_with_rel do |exercise, rep| %>
    <tr>
      <td><%= exercise.title %></td>
      <td><%= rep.difficulty || 'unrated' %></td>
      <td><%= time_ago_in_words rep.created_at %> ago</td>
      <td>
        <%= link_to "Edit", edit_resource_path(rep) %>
        <%=
          link_to "Delete", resource_path(rep, next_page: request.original_url),
            method: :delete,
            data: {
              confirm: "Are you sure?"
            }
        %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', resources_path %>
