<h1 class="admin">Student Page</h1>
For: <%= resource.email %>
<hr />
<h2 class="admin">Exercises Completed</h2>

<table class="admin">
  <thead>
    <th>Exercise</th>
    <th>Difficulty</th>
    <th>Usefulness</th>
    <th>Completed</th>
    <th></th>
  </thead>

  <% resource.student.enrollments.reps.each do |rep| %>
    <% exercise = rep.exercise %>
    <tr>
      <td><%= exercise.title %></td>
      <td><%= rep.difficulty || 'unrated' %></td>
      <td><%= rep.usefulness|| 'unrated' %></td>
      <td><%= time_ago_in_words rep.created_at %> ago</td>
      <td>
        <%= link_to "Edit", edit_resource_path(rep), class: "bttn-edit" %>
        <%=
          link_to "Delete", resource_path(rep, next_page: request.original_url),  class: "bttn-del",
            method: :delete,
            data: {
              confirm: "Are you sure?"
            }
        %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Back', resources_path, class: "bttn-new" %></p>
