<!DOCTYPE html>
<html>
  <head>
 	<title><%= content_for?(:title) ? yield(:title) : "ImprovTree" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if content_for?(:title) && yield(:no_top_menu) %>
    <% else %>
      <div class="top-menu">
        <%= link_to( image_tag("improvtree-48.jpg"), root_path) %>
      </div>
    <% end %>
    <div class="container">
	    <%= yield %>
    </div>
  </body>
</html>
