<!DOCTYPE html>
<html>
  <head>
 	<title><%= content_for?(:title) ? yield(:title) : "ImprovTree" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="top-menu">
      <% if content_for(:header) == 'none' %>
      <% elsif content_for(:header) %>
        <%= yield :header %>
      <% else %>
        <%= link_to( image_tag("improvtree-48.jpg"), root_path) %>
      <% end %>
    </header>

    <main class="container">
	    <%= yield %>
    </main>
  </body>
</html>

